<div class="container mt-5">
  <h3>Users</h3>
  <table class="table table-hover table-responsive-md">
      <caption>{{ totalUsers }} users found</caption>
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Username</th>
          <th scope="col">Name </th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>{{ u.id }}</td>
          <td>{{ u.username }}</td>
          <td>{{ u.lastName }}, {{ u.firstName }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.phNum }}</td>
          <td>{{ u.isActive == true ? "ACTIVE" : "INACTIVE" }}</td>
          <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
