<div class="container">
    <h3>Users</h3>
    <h5>Total users: {{ totalUsers }}</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Username</th>
          <th scope="col">Name </th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Active</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          <td>{{ u.id }}</td>
          <td>{{ u.username }}</td>
          <td> {{ u.lastName }}, {{ u.firstName }}</td>
          <td>{{ u.email }}</td>
          <td>{{ u.phNum }}</td>
          <td>{{ u.isActive == true ? "YES" : "NO" }}</td>
          <td><button type="button" class="btn btn-primary btn-sm">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
