<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand font-weight-bold font-italic" href="#">Ca$h Money</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/cashmoney/admin/home">Home </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Accounts
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">View Accounts</a>
                    <a class="dropdown-item disabled" href="#">Add Account</a>
                    <a class="dropdown-item disabled" href="#">Update Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Delete Account</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Cards
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/cashmoney/admin/cards/view">View Cards</a>
                    <a class="dropdown-item disabled" href="#">Add Cards</a>
                    <a class="dropdown-item disabled" href="#">Update Cards</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Delete Card</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Loans
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/cashmoney/admin/loans/view">View Loans</a>
                    <a class="dropdown-item disabled" href="#">Add Loans</a>
                    <a class="dropdown-item disabled" href="#">Update Loans</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Delete Loan</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Users
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">View Users</a>
                    <a class="dropdown-item disabled" href="#">Add Users</a>
                    <a class="dropdown-item disabled" href="#">Update Users</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Delete User</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Branches
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="#">View Branches</a>
                    <a class="dropdown-item disabled" href="#">Add Branches</a>
                    <a class="dropdown-item disabled" href="#">Update Branches</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item disabled" href="#">Delete Branch</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#">Help </a>
            </li>

        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="This isn't functional" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>