<div class="container">
    <h3>Accounts</h3>
    <h5>Total accounts: {{ totalAccounts }}</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Type</th>
          <th scope="col">Allow Credit?</th>
          <th scope="col">Credit Limit</th>
          <th scope="col">Allow Cards?</th>
          <th scope="col"># Open Accounts</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of accounts; let i = index">
          <td>{{ a.id }}</td>
          <td>{{ a.name }}</td>
          <td>{{ a.type }}</td>
          <td>{{ a.allowCredit }}</td>
          <td>{{ a.creditLimit }}</td>
          <td>{{ a.allowCards }}</td>
          <td>{{ openUserAccountNum[i][1] }}</td>
      </tbody>
    </table>
  </div>