<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#addAccountType">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus-lg"
        viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
    </svg> Add </button>

<!-- Add Account Type Modal-->
<div class="modal fade" id="addAccountType" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Account Type</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Begin Form -->
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <!-- Type -->
                    <div class="form-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="type1" value="CREDIT" checked formControlName="type" (click)="showCredit();">
                            <label class="form-check-label" for="exampleRadios1">
                                Credit
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="type2" value="DEBIT" formControlName="type" (click)="hideCredit();">
                            <label class="form-check-label" for="exampleRadios1">
                                Debit
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="type" id="type3" value="LOAN" formControlName="type" (click)="showCredit();">
                            <label class="form-check-label" for="exampleRadios1">
                                Loan
                            </label>
                        </div>
                    </div>
                    <!-- Name -->
                    <div class="form-group">
                        <label class="label">Name</label>
                        <input type="text" formControlName="name" class="form-control" placeholder="Name of account type" ngModel
                            pattern="^[a-zA-Z0-9_]+( [a-zA-Z0-9_]+)*$" [ngClass]="{ 'is-invalid': inputCheck && f.name.errors }">
                        <div *ngIf="inputCheck && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required" class="label">Name is required</div>
                            <div *ngIf="f.name.errors?.pattern" class="label">
                                Name is invalid
                            </div>
                        </div>
                    </div>
                    <!-- Credit Limit & APR -->
                    <div *ngIf="displayCredit">
                        <div class="form-row">
                            <div class="col-7">
                                <label class="label">Credit Limit ($)</label>
                                <input type="text" formControlName="creditLimit" class="form-control" placeholder="Credit limit" ngModel
                                pattern="^^[1-9]\d*(\.\d+)?$" [ngClass]="{ 'is-invalid': inputCheck && f.creditLimit.errors }">
                                <div *ngIf="inputCheck && f.creditLimit.errors" class="invalid-feedback">
                                    <div *ngIf="f.creditLimit.errors.required && f.type.value != 'DEBIT'" class="label">Credit Limit is required</div>
                                    <div *ngIf="f.creditLimit.errors?.pattern" class="label">
                                        Credit Limit is invalid
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <label class="label">APR (%)</label>
                                <input type="text" formControlName="apr" class="form-control" placeholder="APR" ngModel
                                pattern="^^[1-9]\d*(\.\d+)?$" [ngClass]="{ 'is-invalid': inputCheck && f.apr.errors }">
                                <div *ngIf="inputCheck && f.apr.errors" class="invalid-feedback">
                                    <div *ngIf="f.apr.errors.required && f.type.value != 'DEBIT'" class="label">APR is required</div>
                                    <div *ngIf="f.apr.errors.apr" class="label">APR is invalid</div>
                                    <div *ngIf="f.apr.errors?.pattern" class="label">
                                        APR is invalid
                                    </div>
                                </div>
                            </div>
                        </div><br>
                    </div>
                        <!-- Perks -->
                        <div class="form-group">
                            <label class="label"> Description </label>
                            <textarea type="text" formControlName="perks" class="form-control"
                            placeholder="Short description of the account type"
                            [ngClass]="{ 'is-invalid': inputCheck && f.perks.errors }"></textarea>
                        <div *ngIf="inputCheck && f.perks.errors" class="invalid-feedback">
                            <div *ngIf="f.perks.errors.required " class="label">Description is required</div>
                        </div>
                    </div>
                </form>
                <!-- End Form -->
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" (click)="openConfirmationDialog(); checkInput();">Save</button>
                <button type="button" (click)="onReset()" class="btn btn-info">Reset</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>